body {
font-family: "arial" sans-serif;
background-image: url("../images/fondp.jpg");
background-attachment: fixed;
}

.titre {
	text-align: center;
	text-size:200px ;
	color: white;
}
.presentation {
	text-size:200px ;
	color: white;
}